* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ECE8E0;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.testimonials {
  overflow: hidden;
  padding: 80px 0;
  background: #ECE8E0;
  position: relative;
}

.testimonials:before,
.testimonials:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.testimonials:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.testimonials:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.testimonials:hover .testimonial-slide {
  animation-play-state: paused;
}

.testimonial-slide {
  display: flex;
  animation: slide 20s linear infinite;
  width: 100%; /* Double the width to ensure smooth infinite loop */
}

.testimonial-slide img {
  height: 500px;
  margin: 0 40px;
  transition: transform 0.3s ease; /* Smooth transition */
}

.testimonial-slide img:hover {
  transform: scale(1.4); /* Increase size to 140% on hover */
}

.active {
  cursor: grabbing;
}
