.container{
    width: 250px;
    height: 400px;
    perspective: 500px;
    /* box-shadow: 0px 0px 40px #1f1f1f;  */
    
}
.card{
    position:absolute;
    width: 250px;
    height: 400px;
    transform-style:preserve-3d;
    transition: all 0.8s ease;
    background: #f2f2f2;
    border-radius:20%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.container:hover > .card{
    transform: rotateY(180deg);
}
.front{
    position: absolute;
    width: 250px;
    height: 400px;
    backface-visibility: hidden;
    background:#f2f2f2;
    color:#333;
    border-radius:20%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.back{
    position: absolute;
    width: 250px;
    height: 400px;
    backface-visibility: hidden;
    background:#f2f2f2;
    color:#333;
    transform: rotateY(180deg);
    border-radius:20%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
